img {
  max-width: 100%;
}
.user_header{
  height: 2.6rem;
  img{
    width:  4.4rem;
    margin: -2.4rem .4rem 0rem 1.4rem;
  }
}

.user_waitImg{
  >div{
    margin-top: 1rem;
  }
  img{
    height: 1.6rem;
  }
  .fontGreen{
    color: #1cbb9b;
    font-size: .8rem;
  }
}

