<div class="row mx-auto bg-white py-2">
  <div class="col-12">
    <img class="selsctImg mr-2 mb-1" src="./assets/img/shoppingCart/unselect.png" alt="">全选/取消
    <span class="float-right" (click)="changeNum()">{{changeNumStatus}}</span>
  </div>
</div>

<div class="mt-1 goods" style="margin-bottom: 5rem;">
  <div class="row mx-auto py-2">
    <div class="col-12 bg-white py-3">
      <div class="media">
        <img class="selsctImg align-self-center mr-2" src="./assets/img/shoppingCart/select.png" alt="">
        <img class="goodImg align-self-center mr-3" src="./assets/img/shoppingCart/good.png" alt="">
        <div class="media-body">
          <div><span class="mr-1">[一品太白]</span>
            <span class="mr-1">精品藏猪肉</span><span>500g</span>
          </div>
          <div class="mb-2"><span>天然有机无公害</span></div>
          <div class="mb-0 row">
            <div class="col-4">
              <span class="text-danger rem-1">￥400.00</span>
            </div>
            <div class="col-8 text-center rem-1">
              <i class="fa fa-minus-square-o" aria-hidden="true" (click)="goodsNumMinus()"></i>&nbsp;&nbsp;&nbsp;
              <span>{{goodsNumbers}}</span>&nbsp;&nbsp;&nbsp;
              <i class="fa fa-plus-square-o" aria-hidden="true" (click)="goodsNumPlus()"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row navbar fixed-bottom" style="bottom: 2.9rem;">
  <div class="col-8 p-3 bg-white text-danger text-right">
    合计：￥<span>100.00</span>
  </div>
  <div class="col-4 p-3 bg-danger text-white text-center" (click)="changeSubmit()">
    结算
  </div>
</div>
<div class="row mx-auto">
  <div class="col-12">
    <app-footer></app-footer>
  </div>
</div>
