<div class="row bg-white pl-3 pr-2 p-2">
  <div class="col-12">
    <img class="selsctImg mr-2 mb-1" src="./assets/img/shoppingCart/unselect.png" alt="">全选/取消
    <span class="float-right" (click)="changeNum()">{{changeNumStatus}}</span>
  </div>
</div>
<div class="mt-1 goods" style="margin-bottom: 5rem;">
  <div class="row bg-white p-2">
    <div class="col-5 m-0 p-0 pl-4">
      <img class="selsctImg mr-2" src="./assets/img/shoppingCart/select.png" alt="">
      <img class="goodImg" src="./assets/img/shoppingCart/good.png" alt="">
    </div>
    <div class="col-7 goodDetails">
      <div><span class="mr-1">[一品太白]</span> <span class="mr-1">精品藏猪肉</span> <span>500g</span></div>
      <div><span>天然有机无公害</span></div>
      <div class="addAndSubtract relative"  style="font-size: 1rem;">
        <div class="absolute"><span class="text-danger">￥400.00</span></div>
        <div *ngIf="!showNum" class="text-right pr-3 absolute" style=" color:#888;">X1</div>
        <div *ngIf="showNum" class="text-right pr-3 absolute">
          <i class="fa fa-minus-square-o" aria-hidden="true" (click)="goodsNumMinus()"></i>
          <span class="pl-2 pr-2">{{goodsNumbers}}</span>
          <i class="fa fa-plus-square-o" aria-hidden="true" (click)="goodsNumPlus()"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-white p-2">
    <div class="col-5 m-0 p-0  pl-4">
      <img class="selsctImg mr-2" src="./assets/img/shoppingCart/select.png" alt="">
      <img class="goodImg" src="./assets/img/shoppingCart/good.png" alt="">
    </div>
    <div class="col-7 goodDetails">
      <div><span class="mr-1">[一品太白]</span> <span class="mr-1">精品藏猪肉</span> <span>500g</span></div>
      <div><span>天然有机无公害</span></div>
      <div class="addAndSubtract relative" style="font-size: 1rem;">
        <div class="absolute"><span class="text-danger">￥400.00</span></div>
        <div class="text-right pr-3 absolute">
          <i class="fa fa-minus-square-o" aria-hidden="true" (click)="goodsNumMinus()"></i>
          <span class="pl-2 pr-2">{{goodsNumbers}}</span>
          <i class="fa fa-plus-square-o" aria-hidden="true" (click)="goodsNumPlus()"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row navbar fixed-bottom" style="bottom: 2.9rem;">
  <div class="col-8 p-3 bg-white text-danger text-right">
    合计：￥<span>100.00</span>
  </div>
  <div class="col-4 p-3 bg-danger text-white text-center" (click)="changeSubmit()">
    结算
  </div>
</div>
<div class="row mx-auto">
  <div class="col-12">
    <app-footer></app-footer>
  </div>
</div>
