<div class="row mx-auto bg-white py-2">
  <div class="col-12">
    <div class="float-left">收货人姓名 :</div>
    <div class="float-left ml-1">
      <input type="text" placeholder="" value="" width="100%">
    </div>
  </div>
</div>
<div class="row mx-auto bg-white mt-1 py-2">
  <div class="col-12">
    <div class="float-left">手机号码 :</div>
    <div class="float-left ml-1">
      <input type="text" placeholder="" value="" width="100%">
    </div>
  </div>
</div>
<div class="row mx-auto bg-white mt-5 py-2">
  <div class="col-12">
    <span>省、市、区</span>
    <span class="arrow"></span>
  </div>
</div>
<div class="row mx-auto bg-white mt-1 py-2">
  <div class="col-12">
    <span>街道</span>
    <span class="arrow"></span>
  </div>
</div>
<div class="row mx-auto bg-white mt-1 py-2">
  <div class="col-12">
    <div class="float-left">详细地址 :</div>
    <div class="float-left ml-1">
      <input type="text" placeholder="" value="" width="100%">
    </div>
  </div>
</div>
<div class="row mx-auto bg-white mt-5 py-2">
  <div class="col-12">
    <div class="float-left">邮政编码 :</div>
    <div class="float-left ml-1">
      <input type="text" placeholder="" value="" width="100%">
    </div>
  </div>
</div>
