.navbar-background {
  background-color: rgba(58, 57, 62, 1);
}

.form-control {
  color: #b3b3b3;
  background-color: rgba(255, 255, 255, 0.35);
}

.pt-36 {
  padding-top: 3.6rem;
}

.span-border-radius{
  border-radius: 1rem;
  border: solid 1px #cccccc;
  white-space:nowrap;
}
