<ul class="nav nav-fill bg-white">
  <li class="nav-item">
    <a class="nav-link active"
       role="tab"
       data-toggle="tab"
       href="#details"
       aria-controls="details"
       id="details-tab"
       aria-expanded="true"
    >商品</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       role="tab"
       data-toggle="tab"
       href="#params"
       aria-controls="params"
       id="params-tab"
    >内容</a>
  </li>
</ul>
<div class="tab-content" [@flyInOutX]="'in'">
  <div class="tab-pane fade show active"
       id="details"
       role="tabpanel"
       aria-labelledby="details-tab"
       style="overflow: hidden;">
    <div [ngClass]="{moveClass: isMove}" class="row py-1 mt-1 bg-white mx-auto" (touchstart)="touchStart($event)"
         (touchmove)="touchmove($event)">
      <div class="col-12" style="position:relative;transform: translateX(0px);transition: 0.5s;">
        <div class="media">
          <img class="align-self-center mr-1 w-30" src="./assets/img/shoppingCart/good.png" alt="">
          <div class="media-body">
            <div>[一品太白] 精品藏猪肉 500g 天然有机无公害</div>
            <div class="mt-1">
              <div class="text-danger">
                ￥<span>400.00</span>
              </div>
            </div>
          </div>
        </div>
        <div class="text-light bg-secondary text-center" style="position: absolute;top: -3px;right: -80px;width: 80px;height: 82px;line-height: 82px;">删除</div>
      </div>
    </div>
    <div class="row py-1 mt-1 bg-white mx-auto">
      <div class="col-12">
        <div class="media">
          <img class="align-self-center mr-1 w-30" src="./assets/img/shoppingCart/good.png" alt="">
          <div class="media-body">
            <div>[一品太白] 精品藏猪肉 500g 天然有机无公害</div>
            <div class="mt-1">
              <div class="text-danger">
                ￥<span>400.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade"
       id="params"
       role="tabpanel"
       aria-labelledby="params-tab"
  >内容
  </div>
</div>
<!--<div class="row navbar fixed-bottom m-0 p-0">
  <div class="col-8 p-3 bg-white">
    <img class="selectImg mr-2 mb-1" src="./assets/img/shoppingCart/unselect.png" alt="">全选
  </div>
  <div class="col-4 p-3 bg-secondary text-white text-center">
    删除
  </div>
</div>-->
