<nav class="navbar fixed-bottom navbar-light bg-white text-center border">
  <div class="col-3"  [routerLink]="['/index']">
    <img class="img-fluid w-40" src="./assets/img/footer/home.png"/>
    <span class="min-small">首页</span>
  </div>
  <div class="col-3" [routerLink]="['/finds']">
    <img class="img-fluid w-40" src="./assets/img/footer/find.png"/>
    <span class="min-small">发现</span>
  </div>
  <div class="col-3" [routerLink]="['/shoppingCart']">
    <img class="img-fluid w-40" src="./assets/img/footer/shop.png"/>
    <span class="min-small">购物车</span>
  </div>
  <div class="col-3" [routerLink]="['/user']">
    <img class="img-fluid w-40" src="./assets/img/footer/me.png"/>
    <span class="min-small">我的</span>
  </div>
</nav>



