<div class="card mb-3">
  <img class="card-img-top" src="../assets/img/finds/finds-one.png" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">如何做一份别致的早餐</h4>
    <p class="card-text">美好的一天从别致营养的早餐开始美好的一天从别致营养的早餐开始</p>
    <p class="card-text"><small class="text-muted">2017年12月23日 22:13:00</small></p>
  </div>
</div>
<div class="card mb-3">
  <img class="card-img-top" src="../assets/img/finds/finds-two.png" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">过好每一天，就是修行</h4>
    <p class="card-text">逃离钢筋水泥的冰冷无情，认真过好每一天</p>
    <p class="card-text"><small class="text-muted">2017年12月23日 22:13:00</small></p>
  </div>
</div>
<div class="card mb-3">
  <img class="card-img-top" src="../assets/img/finds/finds-one.png" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">苹果派-让人温暖的食物</h4>
    <p class="card-text">秋天的下午，最适合吃些让人温暖的食物，苹果丰收的季节来个苹果派是再好不过的啦</p>
    <p class="card-text"><small class="text-muted">2017年12月23日 22:13:00</small></p>
  </div>
</div>
<div class="row mx-auto">
  <div class="col-12">
    <app-footer></app-footer>
  </div>
</div>
