/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

body {
  background-color: #f7f7f7;
}

.line-through {
  text-decoration: line-through;
}

.box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.7;
}

.w-40 {
  width: 40%;
}

.w-30 {
  width: 30%;
}

.arrow {
  display: inline-block;
  float: right;
  border-bottom: 1px solid;
  border-right: 1px solid;
  width: 12px;
  height: 12px;
  color: #bbb;
  transform: rotate(-45deg);
  margin-top: .38rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
.goods>div{
  margin-top: .08rem;
}
.goodImg {
  width: 30%;
}
.media-body>div{
  font-size: .8rem;
}

.rem-1{
  font-size: 1rem;
}
